  <mat-toolbar color ="primary">
    {{title}}
  </mat-toolbar>

<div class= "entry">
  <div class="card-container">
    <div class = "card">
      <input type="text" placeholder="enter grocery items"
      [(ngModel)]= "todoItem">
      <button type= "submit"(click)= "addItem()">submit </button>
    </div>

    <div class= "card-container">
      <div *ngFor="let item of todoList; let index= index">
        <div class = "card">
          {{item}}
          <button type="submit" (click)="deleteItem(index)">Delete</button>
        </div>
      </div>
    </div>
  </div>  
</div>




